In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('clima.csv')
df.head()

        Fecha            Ciudad  Temperatura
0  2023-01-01            Bogotá        25.84
1  2023-01-02          Santiago        14.75
2  2023-01-03            Madrid        15.91
3  2023-01-04            Madrid        12.10
4  2023-01-05  Ciudad de México        -3.98

. Cargue el dataset y conviértelo en un DataFrame.


. Calcule la temperatura promedio de cada ciudad.


. Determine el registro con la temperatura más alta y el más bajo en el dataset.


. Identifique qué ciudad tuvo la temperatura más alta y cuál la más baja en todo el dataset.


. Encuentre cuántos registros tienen una temperatura mayor a 30°C.


. Cuenta cuántos días en total hay registrados por cada ciudad.

In [ ]:
#Calcule la temperatura promedio de cada ciudad.
temperatura_promedio = df.groupby('Ciudad')['Temperatura'].mean()
temperatura_promedio

Ciudad
Bogotá              14.650794
Buenos Aires        15.226571
Ciudad de México    17.250833
Madrid              13.870000
Santiago            13.993718
Name: Temperatura, dtype: float64

In [37]:
#Determine el registro con la temperatura más alta y el más bajo en el dataset.
Temperatura_alta = df[df['Temperatura'] == df['Temperatura'].max()]
print("Temperatua mas alta: ")
print(Temperatura_alta)
Temperatura_baja = df[df['Temperatura'] == df['Temperatura'].min()]
print("Temperatua mas baja: ")
print(Temperatura_baja)

Temperatua mas alta:
          Fecha  Ciudad  Temperatura
296  2023-10-24  Madrid        34.62
Temperatua mas baja:
          Fecha  Ciudad  Temperatura
114  2023-04-25  Madrid         -4.8

In [58]:
#Identifique qué ciudad tuvo la temperatura más alta y cuál la más baja en todo el dataset.

Temperatura_max_min = df[(df['Temperatura'] == df['Temperatura'].max())+(df['Temperatura'] == df['Temperatura'].min())]
Ciudad_temperatura = Temperatura_max_min.Ciudad.head(1)
print("Ciudad de mas alta y mas baja temperatura: ")
print(Ciudad_temperatura)

Ciudad de mas alta y mas baja temperatura:
114    Madrid
Name: Ciudad, dtype: object

In [21]:
#Encuentre cuántos registros tienen una temperatura mayor a 30°C.
temperatura_mayor_30 = (df['Temperatura'] > 30).sum()

print("Numero de registros mayores a 30°C son: "+ str(temperatura_mayor_30) + " Registros")

Numero de registros mayores a 30°C son: 50 Registros

In [59]:
# Cuenta cuántos días en total hay registrados por cada ciudad.

dias_registrados = df.groupby('Ciudad')['Fecha'].count()
dias_registrados = dias_registrados.rename('Dias')
dias_registrados

Ciudad
Bogotá              63
Buenos Aires        70
Ciudad de México    72
Madrid              82
Santiago            78
Name: Dias, dtype: int64